MAIN_POSTGRES_USER=main_backend_user5344
MAIN_POSTGRES_PASSWORD=main_backend_user5344
MAIN_POSTGRES_DB=main_backend_user5344

TEST_POSTGRES_USER=backend_test
TEST_POSTGRES_PASSWORD=backend_test
TEST_POSTGRES_DB=backend_test

JWT_SECRET=

GOMODCACHE=/go/pkg/mod
GOCACHE=/root/.cache/go-build
